.Home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    align-items: center;
    padding-top: 96px;
  }

  .home-body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .greeting{
    padding-bottom: 250px;
    font-size: 60px;
    
  }
  
  .name{
    color: var(--accent);
  }

  img {
    max-width: 100%;
  }

  @media screen and (max-width: 704px) and (max-height: 842px){
    .Home {
      height: auto;
    }

    .greeting {
      padding-bottom: 50px;
    }
  }

  