:root{
    --background-color: #fffbf8;
    --main-text: #000000;
    --accent: #1697c5;
    --background-color-dark: #0f1311;
    --main-text-dark: #f3eeee;
    --accent-dark: #50c2ec ;
    box-sizing: border-box;
  }

.header {
    background-color: var(--accent);
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
  }

  a {
    text-decoration: none;
    color: var(--background-color);
  }
  ul {
    color: var(--background-color);
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  li {
    position: relative;
    margin-right: 30px;
    display: inline-block;
  }
  
  li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #d7d4d8;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  }
  
  li:hover::after {
    opacity: 1;
    width: 100%;
  }