
.Projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
  }
  
  .project-heading{
    padding-bottom: 250px;
    font-size: 40px;
    
  }