:root{
  --background-color: #fffbf8;
  --main-text: #000000;
  --accent: #1697c5;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

header {
  background-color: var(--accent);
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin-right: 30px;
}

.greeting{
  font-size: 60px;
  font-family: Comfortaa;
}

.name{
  color: var(--accent);
}


