:root{
    --background-color: #fffbf8;
    --main-text: #000000;
    --accent: #1697c5;
    --background-color-dark: #0f1311;
    --main-text-dark: #f3eeee;
    --accent-dark: #50c2ec ;
    box-sizing: border-box;
  }

  
  body, html {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
  }